<div class="main-container">
		<section class="header header-11 overlay fixed-header">
			
				<div class="background-image-holder">
					<img alt="Background Image" class="background-image" src="img/hero12.jpg">
				</div>
			
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h2 class="text-white">Frequently Asked Questions</h2>
						</div>
					</div>
				</div>
			</section>
			
			<section class="faq faq-1">
				<div class="container">
					<div class="row">
						<div class="col-sm-6">
							<div class="faq">
								<h5>How do I make a BitArrow payment?</h5>
								<p>
									BitArrow payments are 100% online. 
								</p>
							</div>
					
							<div class="faq">
								<h5></h5>
								<p>
									 
								</p>
							</div>
					
							<div class="faq">
								<h5></h5>
								<p>
									
								</p>
							</div>
						</div>
					
						<div class="col-sm-6">
							<div class="faq">
								<h5></h5>
								<p>
									
								</p>
							</div>
					
							<div class="faq">
								<h5></h5>
								<p>
									
								</p>
							</div>

							<div class="faq">
								<h5></h5>
								<p>
									
								</p>
							</div>
						</div>
						</div>
					</div>
					<!-- newsletter form start -->
					<div class="container">
						<div class="row">
						<div class="col-sm-12 text-center">
                         <div id="newsletter">
                         <div class="newsletter">
                         <form action="http://bitarrow.us12.list-manage.com/subscribe/post" method="POST">
						<input type="hidden" name="u" value="fc2009ce5b4769c9c00dfec8d">
						<input type="hidden" name="id" value="5596bc5955">
                        <input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="50" placeholder="Email Address">
                        </div>
                        <input type="submit" value="Join the Beta Test Group »">
						<p class="sub"> </p>
						<iframe srcdoc="" class="mail-list-form">
						</iframe>
                        </form>
                        </div>
                        </div>
                        </div><!-- newsletter form end -->
                        </div>
			</section>
					