<div class="main-container">
		<section class="header header-11 overlay fixed-header">
			
				<div class="background-image-holder">
					<img alt="Background Image" class="background-image" src="img/hero12.jpg">
				</div>
			
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h2 class="text-white">Frequently Asked Questions</h2>
						</div>
					</div>
				</div>
			</section>
			
			<section class="faq faq-1">
				<div class="container">
					<div class="row">
						<div class="col-sm-6">
							<div class="faq">
								<h5>What is BitArrow?</h5>
								<p>
									BitArrow allows individuals and businesses to send payments to the USA from India. BitArrow is currently in a beta testing phase. 
								</p>
							</div>
					
							<div class="faq">
								<h5>How do I make a BitArrow payment?</h5>
								<p>
									Sign up by joining the beta test group. Once you sign up, you will receive an email with further instructions on how to make a payment.  
								</p>
							</div>
					
							<div class="faq">
								<h5></h5>
								<p>
									
								</p>
							</div>
						</div>
					
						<div class="col-sm-6">
							<div class="faq">
								<h5>What documentation will I need to provide to make a payment?</h5>
								<p>
									We will need you to upload a scanned copy of your PAN Card or passport. 
								</p>
							</div>
					
							<div class="faq">
								<h5>What exchange rate do you use?</h5>
								<p>
									BitArrow payments will transparently use current market exchange rates.</p>

									<p>We know other payment providers often use internally determined exchange rates that do not match market exchange rates. This can result in significant hidden fees. We won’t be doing that. 
								</p>
							</div>

							<div class="faq">
								<h5></h5>
								<p>
									
								</p>
							</div>
						</div>
						</div>
					</div>
					<!-- newsletter form start -->
					<div class="jumbotron">
						<div class="row">
						<div class="col-sm-12 text-center">
                        <!-- newsletter form start -->
                         <div id="newsletter">
                         <div class="newsletter">
                         <form action="//bitarrow.us12.list-manage.com/subscribe/post?u=fc2009ce5b4769c9c00dfec8d&amp;id=5596bc5955" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                         <input type="email" size="50" value="Enter your email" name="EMAIL" class="required email" id="mce-EMAIL" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">						
						<div id="mce-responses" class="clear">
						<div class="response" id="mce-error-response" style="display:none"></div>
						<div class="response" id="mce-success-response" style="display:none"></div>
						</div>
						<div class="clear">
						<div class="spacer-10"></div>
						<input type="submit" value="Join the Beta Group »" name="subscribe" id="mc-embedded-subscribe" class="button">
		</div>
	</form>
</div>
<!--End mc_embed_signup-->
                        </div>
			</section>
					