<div class="main-container">
		<section class="header header-11 overlay fixed-header">
			
				<div class="background-image-holder">
					<img alt="Background Image" class="background-image" src="img/hero12.jpg">
				</div>
			
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h2 class="text-white">Frequently Asked Questions</h2>
						</div>
					</div>
				</div>
			</section>
			
			<section class="faq faq-1">
				<div class="container">
					<div class="row">
						<div class="col-sm-6">
							<div class="faq">
								<h5>How do I make a Bitarrow payment?</h5>
								<p>
									BitArrow payments are 100% online. 
								</p>
							</div>
					
							<div class="faq">
								<h5>Will there be a Launchkit for WordPress?</h5>
								<p>
									There will likely be a WordPress version of Launchkit in the near future. While we don't have an exact date - stay tuned for updates and we'll let you know when the WP version is ready. 
								</p>
							</div>
					
							<div class="faq">
								<h5>How many landing pages can I create?</h5>
								<p>
									You may create as many pages as you like per single project. This means that if you plan to use Launchkit for another project, you will need to purchase an additional standard license.
								</p>
							</div>
						</div>
					
						<div class="col-sm-6">
							<div class="faq">
								<h5>Do you provide support for Launchkit?</h5>
								<p>
									Yes - Medium Rare provides support for Launchkit via our dedicated support forum at <a target="_blank" href="http://mediumrare.ticksy.com">mediumrare.ticksy.com</a>. This includes general item support but not additional customisation services.
								</p>
							</div>
					
							<div class="faq">
								<h5>Are PSD files included in the download?</h5>
								<p>
									While the PSD files are not included in the download package from Envato (due to file-size), you can contact us via our support forum at <a target="_blank" href="http://mediumrare.ticksy.com">mediumrare.ticksy.com</a> and we will happily provide them for you.
								</p>
							</div>

							<div class="faq">
								<h5>Are PSD files included in the download?</h5>
								<p>
									While the PSD files are not included in the download package from Envato (due to file-size), you can contact us via our support forum at <a target="_blank" href="http://mediumrare.ticksy.com">mediumrare.ticksy.com</a> and we will happily provide them for you.
								</p>
							</div>
						</div>
						</div>
					</div>
					<!-- newsletter form start -->
					<div class="container">
						<div class="row">
						<div class="col-sm-12 text-center">
                         <div id="newsletter">
                         <div class="newsletter">
                         <form action="http://bitarrow.us12.list-manage.com/subscribe/post" method="POST">
						<input type="hidden" name="u" value="fc2009ce5b4769c9c00dfec8d">
						<input type="hidden" name="id" value="5596bc5955">
                        <input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="50" placeholder="Email Address">
                        </div>
                        <input type="submit" value="Join the Beta Test Group »">
						<p class="sub"> </p>
						<iframe srcdoc="" class="mail-list-form">
						</iframe>
                        </form>
                        </div>
                        </div>
                        </div><!-- newsletter form end -->
                        </div>
			</section>
					