		<div class="main-container">
			
			<section class="cta cta-7">
				<div class="background-image-holder fadeIn">
					<%= image_tag('nyc.jpg', alt: 'Background Image') %>

				</div>
			
				<div class="container">
					<h2></h2>
							<br>
							<br>
							<h1></h1>
					<div class="row">
						<div class="col-sm-12 text-center">
							<h2 class="text-white">Make Payments to the USA From India <br>Faster and Cheaper</h2>
							<h5 class="text-white">Market Exchange Rates, No Hidden Fees</h5>
						</div>

						<div class="col-sm-12 text-center">
							<h2></h2>
							<h1></h1>
                        <!-- newsletter form start -->
                         <div id="newsletter">
                         <div class="newsletter">
                         <form action="http://bitarrow.us12.list-manage.com/subscribe/post" method="POST">
						<input type="hidden" name="u" value="fc2009ce5b4769c9c00dfec8d">
						<input type="hidden" name="id" value="5596bc5955">
                        <input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="50" placeholder="Email Address">
                        </div>
                        <input type="submit" value="Join the Beta Test Group »">
						<p class="sub"> </p>
						<iframe srcdoc="" class="mail-list-form">
						</iframe>
                        </form>
                        </div>
                        </div>
                        </div><!-- newsletter form end -->
						</div>
					</div>
				</div>
			</section>
		</div>